version: 2
jobs:
  build:
     docker:
      - image: circleci/node:7.10
     working_directory: ~/repo
     steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
  deploy:
     machine:
        enabled: true
     steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "cd flexibot && git pull && npm start"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
